@import url('https://fonts.cdnfonts.com/css/campton');

*{
    margin: 0;
    padding:0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--font-family1);
}
   


:root{
    --bg-color:#000000;
    --second-bg-color:#121212;
    --text-color:#fff;
    --main-color:#ff6dfb;
    --second-color:#FFD0FE;
    --text-muted:#b1b1b1;
    --font-family1: 'Campton', sans-serif;
    --font-family2: 'Inter', sans-serif;
}
html{
        font-size: 62.5%;
        color: #000;
    
}

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:10px 48px;
    gap: 64px;
    background-color: var(--bg-color);
    
}
.hamburger {
    display: none; 
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav-bar #selected{
    border-bottom: 1px solid #FF6DFB;
    color: #FF6DFB;
}
header ul{
    display:flex;
    gap: 11px;
    text-align: center;
}   
header ul a{
    color: #b1b1b1;
    font-family: Campton;
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.06em;
    text-wrap: nowrap;
    gap: 4px;
    padding: 20px 0 ;
    margin-right: 14px;
   
   
}   
header ul a span{
    color: #fff;
    margin-left:5px ;
 
   
}   
header .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    
}
#search-box{
    display: flex;
    background-color: #1a1a1a;
    padding: 6px 12px;
    gap: 8px;
    width: 270px;
    align-items: center;
    justify-content: left;
    margin: 0 11px;
    font-size: 14px;
    color: #b1b1b1;
    border-radius: 4px;
    border: none;
    outline: none;
}

/* hero */

.hero{
    background-color: #121212;
    width: 100%;
    min-height: 200vh;
    padding: 32px 204px;
    gap: 32px;
    color: white;
}

.hero .notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#FFE9E9 ;  
  padding: 12px;
   gap: 11px;
}

.hero .notification p{
   
   color: red;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}

.hero h3{
   color: #FFE9E9;
    font-size: 32px;
    font-weight: 700;
}

.hero h4{
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.06em;
}
.hero h4:nth-child(3){
    margin-top: 30px;
}
.hero .overview{
  margin: 20px 0;
  
}
.hero .overview .date{
    display: flex;
    align-items: center;
    gap: 10px;
  
}
.hero .overview img{
  width: 14px;

}
.hero .overview .heading{
 display: flex;
 justify-content: space-between;
 align-items: center;
padding: 0 10px;
}

.hero .overview h5{
  font-size: 24px;
  padding: 12px 0;
}

.hero .overview p{
   color: #8f8d8d;
   font-size: 14px;
   font-weight: 500;
  
}
.hero .overview p span{
   color: #b1b1b1;
   font-size: 14px;
   font-weight: 500;
  
}

.hero .boxes{
    gap: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
   
}

.hero .boxes .top-boxes{
    display: flex;
    align-items: center;
    font-size:9px;
}
.hero .boxes .box1{
    padding: 24px;
    width: 100%;
    text-align: left;
    
    margin-right: 10px;
    background-color: hsl(0, 0%, 0%);
}
.hero .boxes .box1:hover{
    box-shadow: 0px 4px 20px 0px #FF6DFB42;
    cursor: pointer;
}


.hero .boxes .box1 h6{
    font-size: 32px;
    color: #FFD0FE;
}

.hero .boxes .box1  p{
    margin-bottom: 20px;
    font-size: 9px;
}
.hero .boxes .box1  #ngn{
    font-size: 14px;
}
.hero .boxes .box1 img{
   width: 8px;
   align-items: center;
   margin-left: 5px;
}
.hero .boxes .box1 .rate{
    display: flex;
    align-items: center;
}
.hero .boxes .box1 .rate span{
    color: rgb(196, 4, 4);
}

.hero .boxes .box1 button{
    width: 109px;
    height: 34px;
    padding: 8px;
    gap: 4px;
    font-weight: 500;
    margin-left: 140px;
    border: 1px solid #000000;
    background-color: #fff;
    color: #000;
}


.hero .boxes .bottom-boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.hero .boxes .bottom-boxes .box1{
    max-width: 249px;
    min-height: 118px;

}



.hero .activities .heading img{
    width: 14px;
  
  }
  .hero .activities .heading{
   display: flex;
   justify-content: space-between;
   align-items: center;
  margin-bottom: 30px;
  }
  
  .hero .activities h5{
    font-size: 24px;
    padding: 12px 0;
  }
  
  .hero .activities p{
     color: #8f8d8d;
     font-size: 14px;
     font-weight: 500;
    
  }
  .hero .activities p span{
     color: #b1b1b1;
     font-size: 14px;
     font-weight: 500;
    
  }





/* earn appeal & ad approval */
section h3 {
    padding-left: 12px 0;
    font-size: 24px;
    color: #fff;
    font-weight: 500;
} 
.top-nav {
    margin-top: 30px;
    width: 100%;
}
.top-nav .left{
    display: flex;
}
.top-nav .right{
    display: flex;
    align-items: center;

}
.top-nav .right img{
    width: 14px;
}

.earn-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    color: var(--text-color);
    gap: 8px;
    text-align: left;
    align-items: center;
    height: auto;
    justify-content: center;
    width: 100%;
}

.earn-container .box1 {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 8px;
    background-color: #000;
    text-align: left;
    margin: auto; /* Center the boxes horizontally */
    min-width: 330px;
}

.earn-container .box1 .pending {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Adjust alignment as needed */
  padding: 5px 0;
}

.earn-container .box1 .pending p {
  margin: 0; /* Remove default margin */
  padding: 8px;
  border-radius: 4px;
  background: #323232;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.04em;
  margin-right: 20px; /* Add margin for spacing */
}

.earn-container .box1 p {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.06em;
  margin: 8px 0; /* Add vertical margin for spacing */
}

.earn-container .box1 span {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: -0.06em;
  color: #b1b1b1;
}

.earn-container .box1 .earning {
  display: flex;
  align-items: center;
  margin-top: 8px; /* Add margin for spacing */
}

.earn-container .box1 .earning img {
  width: 9px; /* Adjust image width as needed */
  margin-right: 5px; /* Add margin for spacing */
}

.earn-container .box1 .earning span {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: -0.06em;
  color: #b1b1b1;
  margin-right: 5px; /* Add margin for spacing */
}

.earn-container .box1 .earning p {
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.06em;
  margin: 0; /* Remove default margin */
}

/* reseller */

.reseller-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    color: var(--text-color);
    gap: 8px;
    text-align: left;
    align-items: center;
    height: auto;
    justify-content: center;
    width: 100%;
}

.search-box {
    display: flex;
    background-color: #1a1a1a;
    padding: 6px 12px;
    gap: 8px;
    width: 270px;
    align-items: center;
    justify-content: left;
    font-size: 14px;
    color: #b1b1b1;
    border-radius: 4px;
    border: none;
    margin-top: 30px;
    outline: none;
  }
  
  #search-box2 {
    flex: 1;
    border: none;
    background: none;
    color: #b1b1b1;
    font-size: 14px;
  }
  
  .search-box img {
    color: #b1b1b1;
    width: 20px;
  }
  


.reseller-container .box1 {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 8px;
    background-color: #1a1a1a;
    text-align: left;
    margin: auto; /* Center the boxes horizontally */
    min-width: 339px;
}

.reseller-container .car-info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 14px;
    gap: 12px;
    
}
.reseller-container .car-info #fade{
    color: #b1b1b1;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.06em;
    
}
.reseller-container .details #fade{
   text-decoration: line-through;
    
}
.reseller-container .details .right{
   color: #FF6DFB;
   display: flex;
    gap: 5px;
    align-items: center;
}
.reseller-container .name, .details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reseller-container  .commision{
    display: flex;
    gap: 6px;
    align-items: center;
    font-weight:700 ;
}
.reseller-container  button{
    border: 1px solid #8E60CF3B;
    padding: 8px;
    border-radius: 2px;
    border: 1px;
    color: #000;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: -0.06em;
    text-align: center;
    gap: 4px;

}


/* users */

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: -0.06em;
    color: #b1b1b1;
    margin-top: 30px;
    gap: 5px;
}
.navigation span{
    padding-left: 10px;
}
.navigation .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 135px;
}

.name-box{
    background-color: var(--bg-color);
    border-radius: 8px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 12px;
    margin: 16px 0;
    color: #fff;
    
}

.name-box .name{
    justify-content: left;
    display: flex;
    align-items: center;
    gap: 5px;
}


.name-box .name p#highlight{
    font-size: 14px;
}
.name-box p{
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.06em;
    color: #b1b1b1;

}
.name-box  #highlight{
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.06em;
    color: #fff;

}
.name-box .earning,.name-box .advertise{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.name-box .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

/* wallet */


.hero .wallet-container .top-boxes{
    display: flex;
    align-items: center;
    font-size:9px;
    margin-top: 10px;
}
.hero .wallet-container .top-boxes img{
    width: 8px;
    margin-left: 5px;
  
  }
.hero .wallet-container  .box1{
    padding: 24px;
    width: 100%;
    text-align: left;
    margin-right: 10px;
    background-color: hsl(0, 0%, 0%);
}
.hero .wallet-container .box1:hover{
    box-shadow: 0px 4px 20px 0px #FF6DFB42;
    cursor: pointer;
}


.hero  .wallet-container .box1 h6{
    font-size: 32px;
    color: #FFD0FE;
}

.hero .wallet-container  .box1  p{
    margin-bottom: 20px;
    font-size: 9px;
}
.hero .wallet-container  .box1  #ngn{
    font-size: 14px;
}
.hero .wallet-container .box1 img{
   width: 8px;
   align-items: center;
   margin-left: 5px;
}
.hero .wallet-container .box1 .rate{
    display: flex;
    align-items: center;
}
.hero .wallet-container .box1 .rate span{
    color: rgb(196, 4, 4);
}

.hero .wallet-container .box1 button{
    width: 109px;
    height: 34px;
    padding: 8px;
    gap: 4px;
    font-weight: 500;
    margin-left: 140px;
    border: 1px solid #000000;
    background-color: #fff;
    color: #000;
}

.wallet-container .wallet-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    color: #fff;
    margin:5px 0;
    padding: 12px;
}
.wallet-container .wallet-box .left{
    display: flex;
    justify-content: space-between;
    align-items: center;
   gap: 24px;
}
.wallet-container .wallet-box .credit-date{
    gap: 6px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.wallet-container .wallet-box #date{
    font-size: 9px;
    font-weight: 400;
    line-height: 10px;
}


.wallet-container .navigation{
    padding: 10px 0;
}
.wallet-container .navigation .left{
    display: flex;
    justify-content: space-between;
    gap: 140px;
    align-items: center;
}

.wallet-container .wallet-box  img{
    width: 30px;
}
.wallet-container .wallet-box  p{
   font-size: 13px;
   font-weight: 500;
}


  /* settings */

.hero .top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1E1E1E;
    gap: 4px;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.06em;
    margin-bottom: 32px;
    color: #b1b1b1;
  
}  

.hero .top-nav p{
    padding: 12px 8px;
}  

.hero .top-nav #selected{
    padding: 12px 8px;
    border-bottom: 1px solid #FF6DFB;
    color: #FF6DFB;
}  
.add-email {
    position: relative;
    background: #FFFFFF14;
    padding: 14px 12px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.add-email input {
    background: none;
    padding: 0;
    border: none;
    outline: none;
    text-transform: capitalize;
}

.invite-text {
    color: #ccc;
    font-size: 14px;
   right: 12px;
   
   position: absolute;
}



@media only screen and (max-width: 767px) {

    .header {
        padding: 12px 14px;
    }
    .hamburger .bar {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
    }
    #signin-btn{
        display: none;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .nav-bar {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        z-index: 3;
        width: 100vw;
        height: 450px;
        background: #000 ;
        transition:  0.3s ease-in-out,  opacity 0.1s ease-out;
        overflow: hidden;
        opacity: 0;
    }
    .nav-bar.active{
        height: 100vh;
        display: block;
        opacity: 1;
    }
    .nav-bar ul{
        flex-direction: column;
        width: fit-content;
        margin: 80px auto 0 auto;
        transition: 0.5s;
        opacity: 0;
    
    }
     .nav-bar ul li a{
        margin-bottom: 12px;
        font-size: 25px;
       
       
        
    }
    #search-box{
        display: none;
    }

    .nav-bar ul li a:hover,
    .nav-bar ul li a#selected{
        color: #ff6dfb;
        border: none;
    }
    
    .header .icons{
        display: none;
    }
    .nav-bar.active ul{
       opacity: 1;
       
    } 



   .hero{
    padding: 20px ;
   }
   .hero .notification{
    margin-bottom: 10px;
   }
   .hero h3{
    font-size: 28px;
   }
   .hero .overview h5{
    font-size: 20px;
   }
   .hero .overview p{
    font-size: 12px;
   }
   .hero .activities h5{
    font-size: 20px;
   }
   .hero .activities p{
    font-size: 12px;
   }
   .hero .boxes{
    justify-content: left;
    gap: 5px;
    align-items: start;
   }
   .hero .boxes .box1{
    margin: 0;
   }
   .hero .boxes .top-boxes{
    flex-direction: column;
    display: flex;
    gap: 5px;
   }
   .hero .boxes .bottom-boxes{
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    
   }
   .hero .boxes .bottom-boxes .box1{
    max-width: 351px;
    width: 100%;
    
   }
   .hero .boxes .box1 button{
    margin-left: 10px;
   }
   .hero .top-nav{
    flex-direction: column;
    justify-content: left;
    display: flex;
    align-items: flex-start;
    border: none;
    margin-bottom: 10px;
   }
   .earn-container,.reseller-container{
    display: flex; 
    align-items: unset;
    flex-direction: column;
    gap: 10px;
   }
   .reseller-container{
    align-items: center;
   }
   .earn-container .box1{
    margin: 0;
   
   }
   .reseller-container .box1{
    width: 330px;
  margin: 0;
  
   }
   .navigation{
    display: none;
   }
   .name-box{
    text-wrap: nowrap;
    gap: 12px;
    flex-direction: column;
    justify-content: left;
    align-items: start;
   }
   .hero .wallet-container .top-boxes{
    display: flex; 
    align-items: unset;
    flex-direction: column;
    gap: 10px;
   }
   .hero .wallet-container .box1 button{
    margin-left: 20px;
   }
   .wallet-container .wallet-box .left{
    gap: 12px;
   }
   .wallet-container .wallet-box p{
    font-size: 10px;

   }
  
   .wallet-container .wallet-box  img{
    width: 25px;
   }

}